.Container {
  background-color: 222222;
  padding: 30px;
}

.p {
  color: #a0a0a0;
}

.h1 {
  margin-bottom: 30px;
}

.separator {
  height: 1px; 
  background-color: #555; 
  margin-top: 90px; 
  opacity: 0.7; 
}
