.Container {
  background-color: #1d1d1d;
  margin-left: 3%;
}

.p {
  color: #bdbdbd;
}

@media (max-width: 768px) {
  .Container {
    padding: 20px;
  }

  .p {
    font-size: 14px;
    line-height: 1.5;
  }

  .h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
