.container {
  display: flex;
  background-color: #222222;
  color: #ffffff;
  border-radius: 20px;
  width: 66.5%;
  padding: 50px;
  position: relative;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  border-top: 1px solid #444;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.All {
  display: flex;
  gap: 10px;
  min-height: 50vh;
  padding: 20px;
}
