.navbar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #333;
  padding: 5px 25px;
  border-radius: 0 10px 0 10px;
  z-index: 1;
  border-bottom: 1px solid #444;
  border-left: 1px solid #444;
}

/* Estilo general para los elementos de la barra de navegación */
.navbar-left ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 20px;
}

.navbar-left li a {
  font-weight: 550;
  padding: 40px;
  text-decoration: none;
  color: inherit;
  font-family: "Poppins", sans-serif;
  transition: color 0.3s ease;
}

.navbar-left li a:hover {
  color: #f0da5f;
}

.separator {
  width: 1px;
  height: 15px;
  background-color: white;
  border: none;
  margin: 0 10px 5px;
}

.CV a {
  font-weight: 550;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  transition: color 0.3s ease;
}

.CV a:hover {
  color: #f0da5f;
}
/* Estilo del botón de menú hamburguesa */
.navbar-toggle {
  display: none; /* Ocultarlo por defecto en pantallas grandes */
}

/* Mostrar el botón de menú hamburguesa en pantallas pequeñas */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-left ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #333;
    width: 100%;
    padding: 10px;
    z-index: 1;
  }

  .navbar-left ul.active {
    display: flex;
  }
}
