.container {
  padding: 20px;
}

.proyects {
  display: flex;
  flex-wrap: wrap;
  gap: 50px; /* Se redujo el espacio entre proyectos */
  justify-content: center;
}

.proyectCard {
  padding: 7px;
  max-width: 350px;
  text-align: center;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.proyectCard:hover {
  transform: scale(1.05);
}

.proyectImage {
  width: 100%;
  height: auto;
  border-radius: 15px;
  border: 2px solid #f0da5f; /* Borde amarillo delgado */
}

.description {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #bdbdbd;
}

/* Responsive para móviles */
@media (max-width: 768px) {
  .proyects {
    flex-direction: column;
    gap: 20px;
  }

  .proyectCard {
    max-width: 100%;
  }

  .description {
    font-size: 12px;
  }
}
