.container {
  margin-top: 2%;
  background-color: #1d1d1d;
  color: #fff;
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  margin-right: 20px;
  border-radius: 10px;
  text-align: center;
  margin-left: 15%;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  border-top: 1px solid #444;
}

.avatar {
  border-radius: 10px;
  display: block;
  margin: 0 auto 10px;
}

.separator {
  width: 70%;
  height: 1px;
  background-color: #555;
  margin: 20px auto;
  opacity: 0.7;
}

.contactInfo {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactInfo ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contactInfo li {
  margin-left: 10px;
  margin-top: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.icon {
  margin-right: 8px;
  font-size: 16px;
  color: #fff;
}

.textWrapper {
  text-align: left;
}

.textWrapper strong {
  display: block;
  font-size: 16px;
  color: #a0a0a0;
}

.textWrapper span {
  font-size: 14px;
}

.contactInfo li svg {
  color: #f0db4f;
  font-size: 18px;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
